@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0 ;
}

header{
  background-color: #354f52;
  height: 90px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3;
}

nav{
  width: 500;
  display: flex;
  gap: 275px;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #354f52;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #4c6163;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #21474b;  /* creates padding around scroll thumb */
}

ul,li{
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  list-style-type: none;
  gap: 75px;
  color: #dad7cd;
  padding: 0px 0px 0px 0px;
}

ul{
  width: 400px;
  padding: 0px 0px 0px 950px;
}

a{
  text-decoration: none;
}

section .center-hero-container{
  height: 1050px;
}

.league-logo-header{
  max-width: 125px;
  max-height: 50px;
  padding: 20px 0px 0px 50px;
}

.user-img{
  align-items: center;
  filter: brightness(0) saturate(100%) invert(93%) sepia(5%) saturate(394%) hue-rotate(53deg) brightness(90%) contrast(91%);
  width: 30px;
}

nav li:hover{
  color: #84a98c;
  transition: 0.2s;
}


nav img:hover{
  filter: brightness(0) saturate(100%) invert(60%) sepia(18%) saturate(438%) hue-rotate(81deg) brightness(95%) contrast(88%);
  transition: 0.2s;
}

.hero-img{
  width: 100%;
  height: auto;
  z-index: -1;
}

.hero-introducing{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  background-color: #354f526e;
  color: rgb(230, 230, 223);
  width: 1200px;
  padding: 30px;
  position: relative;
  bottom: 40rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.566);
}

.em-alta-main{
  background-color: #354f52;
}

.em-alta-changes-position{
  background-color: #273b3d;
  display: flex;
  align-items: center;
}

.em-alta-changes-position h1{
  background-color: #334e50;
  color: rgb(230, 230, 223);
  font-family: "Inter Tight", sans-serif;
  font-size: 22px;
  border-radius: 10px;
  padding: 20px 50px 20px 20px;
  text-align: center;
  outline: 1px solid rgba(0, 0, 0, 0.377);
}

.em-alta-changes-position>.roles-icons{
  width: 27px;
  height: 27px;
  margin-right: 50px;
  filter: opacity(60%);
  cursor: pointer;
}

.main-txt-em-alta{
  display: flex;
  margin: 30px 840px 30px 30px;
}

.roles-icons{
  background-color: #466567b0;
  width: 150px;
}

.roles-icons:hover{
  filter: opacity(100%);
  transition: 0.2s;
}

#fire-icon{
  position: relative;
  width: 22px;
  height: auto;
  right: 40px;
  filter: brightness(0) saturate(100%) invert(66%) sepia(94%) saturate(6333%) hue-rotate(11deg) brightness(93%) contrast(100%);
}

.main-page-champions img{
  image-rendering: optimizeQuality;
}

.champion-1-div{
  color: #f5f2e7;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 10px;
}

.type-champ-logo{
  width: 35px;
  height: 35px;
}

.champion-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.champion-1-roles>img{
  width: 25px;
}

.champion-1-specify>img{
  width: 30px;
}

.champion-1-specify{
  display: flex;
}


/*
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;

  .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
}*/ 